* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

td,
th {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

td:hover {
    background-color: red;
    border-radius: 5px;
}