<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/master.css">
    <title>DB Hotel</title>
</head>

<body>
    <div id="root">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ROOM NUMBER</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(room, index) in rooms" :key="index" @click="getRoomDetails(room.id)">
                    <td>{{room.id}}</td>
                    <td>{{room.room_number}}</td>
                </tr>
            </tbody>
        </table>
        <table v-if="room">
            <thead>
                <tr>
                    <th colspan="4">
                        DETAILS ROOM
                    </th>
                </tr>
                <tr>
                    <th>BEDS</th>
                    <th>FLOOR</th>
                    <th>ROOM NUMBER</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{room.beds}}</td>
                    <td>{{room.floor}}</td>
                    <td>{{room.room_number}}</td>
                    <td>{{room.id}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>